* @jgoldpac
/Presentation/Analysis of Phoenix AZ Real Estate Trends.pptx @jgoldpac @Jmaddalena42 @weiweitan0107
/Presentation/PHX_CPI.png @Jmaddalena42
/Presentation/annual_changes.png @jgoldpac
/Presentation/employment.png @jgoldpac
/Presentation/monthly_trends.png @jgoldpac
/Data Cleaning/ @jgoldpac
/Data Cleaning/Weiwei data.ipynb @weiweitan0107
/Data Cleaning/Resources/ @Jmaddalena42
